@media(max-width: 667px) {

    .webcamCapture {
      height: 259px;
      width: 375px;
    }
  
    .webcam {
      width: 10rem;
      height: 10rem;
      border: none;
      box-shadow: 0 0 4px 14px #ffbc98, 0 0 10px 33px #ffe2d2;
    }
  
  }